<section class="portfolio" id="portfolio">
  <div class="container">
    <h2>My Portfolio</h2>
    <p class="section-description">Check out some of my best work</p>
    
    <div class="filters">
      <button 
        *ngFor="let category of categories" 
        [class.active]="selectedCategory === category"
        (click)="filterItems(category)">
        {{category}}
      </button>
    </div>

    <div class="portfolio-grid">
      <div class="portfolio-item" *ngFor="let item of filteredItems">
        <div class="portfolio-image">
          <img [src]="item.imageUrl" [alt]="item.title">
          <div class="overlay">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <a [href]="item.link" target="_blank" class="view-project" *ngIf="item.link">
              View Project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>