<header class="header">
  <div class="container">    <a href="#" class="logo">
      <img src="assets/images/KDLogoinv.png" alt="KD Social Memories Logo">
    </a>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#portfolio">Portafolio</a></li>
        <li><a href="#why-hire">¿Qué hacemos?</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#contact" class="cta-button">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>